# Archivos de entorno reales
.env
.env.local
.env.production
.env.development

# Build y dependencias
.next/
out/
dist/
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db
